$color_white: #FFFFFD
$color_pink: #DD8EA4
$color_background: #F2E9EB
$color_blue: #31383F
$color_yellow: #FDDD89
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap')
// ----------------------------------
@mixin pad
  @media(max-width:768px)
    @content;
  

@mixin mobile
  @media(max-width:375px)
    @content;

// ----------------------------------
@mixin P 
  font-size: 20px;
  font-weight: 400;

@mixin P_Bold 
  font-size: 20px;
  font-weight: 700;

@mixin miniP 
  font-size: 16px;
  font-weight: 400;

@mixin H1 
  font-size: 48px;
  font-weight: 400;

@mixin H1_Bold 
  font-size: 48px;
  font-weight: 700;

@mixin H2 
  font-size: 24px;
  font-weight: 400;

@mixin H2_Bold 
  font-size: 24px;
  font-weight: 700;
// ----------------------------------
